
body {
  
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CurrentWeather{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  padding-top: 40px;
  font-weight: bold;
}

.heading{
  text-align: center;
}


.gauge{
 
  background-color: black;
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  
}

.chart{
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    "."; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}

.name{
  text-align: center;
}

.name1{
  text-align: center;
  color: white;
}

.name2{
  text-align: center;
  color: white;
}

.loginArea{
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    "."
    "."; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}

.t1{
  text-align: center;
  font-size: 40px;
}


.t2{
  text-align: center;
  font-size: small;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
