
body {
  
  background-color: whitesmoke;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CurrentWeather{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  padding-top: 40px;
  font-weight: bold;
}

.heading{
  text-align: center;
}


.gauge{
 
  background-color: black;
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    ". ."; 
  justify-content: center; 
  
}

.chart{
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    "."; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}

.name{
  text-align: center;
}

.name1{
  text-align: center;
  color: white;
}

.name2{
  text-align: center;
  color: white;
}

.loginArea{
  display: grid; 
  grid-auto-rows: 0.5fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    "."
    "."; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center;
}

.t1{
  text-align: center;
  font-size: 35px;
}


.t2{
  text-align: center;
  
  font-size: small;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  border-top: 7px solid #011d24;
  border-bottom: 7px solid #011d24;
  border-left: 7px solid #011d24;
  border-right: 7px solid #011d24;
  grid-auto-rows: 0.5fr;
  padding: 5px 5px 5px;
  row-gap: 4ch;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "."
    "."
    "."
    "."
    ".";
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
